/*=================================[ Choose Us ]========================================*/

.choose-us {
	position: relative;
	padding: 120px 0;
}
.choose-us-container {
	max-width: 1470px;
	margin: 0 auto;
	padding: 0px 15px;
}
.choose-us__body {
	display: flex;
	align-items: center;
	gap: 70px;
}
.choose-us__left {
	flex: 0 1 50%;
	background-image: url(../img/choose-us/left-bg.webp);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 110px 60px;
}
.choose-us__left-substrate {
	background: rgba(28, 39, 82, 0.86);
	padding: 80px 60px 100px;
}
.substrate-left {
}
.substrate-left__item:not(:last-child) {
	margin: 0px 0px 20px 0px;
}
.item-substrate {
	display: flex;
	font-family: 'Mulish';
	font-weight: 400;
	font-size: 25px;
	line-height: 35px;
	letter-spacing: 0.36px;
}
.item-substrate__value {
	flex-basis: 110px;
	font-size: 24px;
	color: #1C2752;
	background-color: #FFB342;
	padding: 16px 21px 0;
}
.item-substrate__text {
	flex: 1 1 auto;
	color: #FFFFFF;
	padding: 16px 0px 16px 20px;
	border: 1px solid #fff;
	border-left: transparent;
}
/*---------------------------------*/
.choose-us__right {
	flex: 0 1 50%;
	color: #7E7E7E;
}
.choose-us__header {
	margin: 0px 0px 40px 0px;
}
.choose-us__block-header {
	margin: 0px 0px 23px 0px;
}
.choose-us__title {
	margin: 0px 0px 11px 0px;
	max-width: 506px;
}
.choose-us__text {
	display: inline-block;
	max-width: 577px;
}
.choose-us__content {
}
.content-choose-us {
}
.content-choose-us__item {
	position: relative;
	padding: 0px 0px 0px 52px;
}
.content-choose-us__item:not(:last-child) {
	margin: 0px 0px 25px 0px;
}
.content-choose-us__item::before {
	position: absolute;
	background-image: url(../img/choose-us/choose-us-icon.svg);
	width: 32px;
	height: 32px;
	top: 0;
	left: 0;
	content: '';
}
.content-choose-us__title {
	font-family: 'Mulish';
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.36px;
	color: #1C2752;
	margin: 0px 0px 8px 0px;
}
.content-choose-us__text {
	display: inline-block;
	max-width: 432px;
}