/*=================================[ Choose Us ]========================================*/

.choose-us {
	position: relative;
	padding: 120px 0;
}

.choose-us-container {
	max-width: 1470px;
	margin: 0 auto;
	padding: 0 15px;
}

.choose-us__body {
	display: flex;
	align-items: center;
	gap: 70px;
}

.choose-us__left {
	flex: 0 1 40%;
	background-image: url(../img/choose-us/left-bg.webp);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 25px;
}

.choose-us__left-substrate {
	background: rgba(var(--dark-navy-rgb), 0.86);
	padding: 40px;
}

.substrate-left__item:not(:last-child) {
	margin: 0 0 20px 0;
}

.item-substrate {
	display: flex;
	font-family: 'Mulish';
	font-weight: 400;
	font-size: 22px;
	line-height: 35px;
	letter-spacing: 0.36px;
}

.item-substrate__value {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	font-size: 24px;
	color: var(--dark-navy);
	cursor: pointer;
	background-image: var(--special-hover-bgi);
	background-size: 300% 100%;
	transition: var(--transition);
}

.item-substrate__value svg {
	fill: rgba(var(--dark-navy-rgb), 0.86);
	height: 40px;
	width: 40px;
}

.item-substrate__value:hover {
	background-position: 99% 0;
	transition: var(--transition);
}

.item-substrate__text {
	display: flex;
	flex: 1 1 75%;
	color: #FFFFFF;
	padding: 8px 8px 8px 20px;
	line-height: 1.2;
	justify-content: center;
	align-items: center;
	border: 1px solid #fff;
	border-left: transparent;
}

/*---------------------------------*/
.choose-us__right {
	flex: 0 1 auto;
	color: var(--muted-text__color);
}

.choose-us__header {
	margin: 0 0 40px 0;
}

.choose-us__block-header {
	margin: 0 0 23px 0;
}

.choose-us__title {
	margin: 0 0 50px 0;
	max-width: 606px;
	line-height: 1.1;
}

.choose-us__text {
	display: inline-block;
	max-width: 577px;
}

.choose-us__content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 0;
}

.choose-us__advantage-left {
	grid-area: 1 / 1 / 2 / 2;
}

.choose-us__advantage-right {
	grid-area: 1 / 2 / 2 / 3;
}

.content-choose-us__item {
	position: relative;
	padding: 0 0 0 37px;
}

.content-choose-us__item:not(:last-child) {
	margin: 0 0 25px 0;
}

.content-choose-us__item::before {
	position: absolute;
	background-image: url(../img/choose-us/choose-us-icon.svg);
	background-size: cover;
	width: 26px;
	height: 26px;
	top: 0;
	left: 0;
	content: '';
}

.content-choose-us__title {
	font-family: 'Mulish';
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.36px;
	color: var(--dark-navy);
	margin: 0 0 8px 0;
}

.content-choose-us__text {
	display: inline-block;
	max-width: 432px;
}