.contacts {
	font-family: 'Mulish', sans-serif;
	background-color: #f4f4f4;
	padding: 100px 0 120px;
}

.contacts__header {
	text-align: center;
	margin: 0 0 50px 0;
}

.contacts__block-header {
	margin: 0 0 22px 0;
}

.contacts__text {
	display: inline-block;
	max-width: 819px;
	color: var(--muted-text__color);
}

.contacts__content {
	margin-bottom: 50px;
	display: flex;
	gap: 70px;
	justify-content: space-between;
	align-items: center;
}
.contacts__info {
	flex: 1 1 50%;
	color: var(--dark-navy);
}
.contacts__feedback {
	flex: 1 1 50%;
}

.contacts__info-title {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 60px;
}
.contacts__info-list {
	padding-left: 20px;
	list-style-type: none;
}
.contacts__info-list-item {
	margin-bottom: 25px;
}
.contacts__info-list-item span {
	font-weight: bold;
	margin-right: 10px;
}

.contacts__info-list-item p {
	font-size: 16px;
}
.contacts__info-list-item a {
	display: inline-block;
	color: inherit;
	transition: var(--transition);
	border-bottom: 1px dotted transparent;
	padding-bottom: 1px;
}

.contacts__info-list-item a:hover {
	border-bottom: 1px dotted #000;
}
.contacts__info-list-item:nth-last-child(3) {
	margin-bottom: 30px;
}

.contacts__map:not(.is-active) * { pointer-events: none }

.requisites-title {
	display: inline-block;
	margin-bottom: 10px;
}