@media (max-width: 1120px) {

	.contacts__item-text {
		display: none;
	}

	.header__middle-contacts {
		padding: 20px;
	}

	.nav__link {
		font-size: 18px;
	}

	.header__present-title {
		font-size: 47px;
	}



	@media (max-width: 768px) {
		.header__wrapper {
			padding-bottom: 0;
			margin-bottom: 0;
			z-index: 1000;
		}
		.header__wrapper:after {
			opacity: 0;
		}

		.header__present-wrapper {
			margin-top: 0;
		}
		
		.header__middle {
			min-height: 100px;
		}

		.link__title {
			font-size: 24px;
		}

		.header__middle-contacts {
			padding: 10px;
		}

		.header__middle-contacts::after {
			display: none;
		}

		.contacts__item-iconwrap {
			width: 50px;
			height: 50px;
			padding: 14px 11px;
		}

		.nav__body {
			display: none;
		}

		.header__present-body {
			margin: 100px 0;
		}

		.welcome {
			padding: 100px 0;
		}
		
		.welcome__image img {
			max-width: 400px;
			height: auto;
		}
		.welcome__content {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.welcome__content-header {
			font-size: 16px;
			text-align: center;
		}

		.welcome__content-title {
			margin-bottom: 30px;
		}

		.welcome__image {
			display: none;
		}

		.welcome__content-text {
			color: #272727;
		}

		.services__grid {
			grid-template-rows: repeat(1, 1fr);
			grid-template-columns: repeat(1, 1fr);
		}

		.item-grid__image img {
			height: auto;
		}

		.choose-us__body {
			flex-direction: column;
			gap: 30px;
		}

		.choose-us__block-header {
			display: none;
		}

		.contacts__info {
			display: none;
		}

		.footer__content {
			margin-bottom: 50px;
		}

		.footer__content-right {
			font-size: 12px;
		}

		.footer__nav-link {
			padding: 3px 5px;
		}
	}
}

@media (max-width: 540px) {
	.logo svg {
		box-shadow: var(--main-box-shadow);
		transform: scale(.8);
	}
	.link__title {
		font-size: 18px;
		margin-left: 10px;
		line-height: 1.2;
	}
	.header__present-body {
		text-align: center;
		margin: 60px 0;
	}

	.header__present-subtitle {
		justify-content: center;
	}

	.header__present-subtitle svg {
		display: none;
	}

	.header__present-subtitle span {
		margin-left: 0;
		font-size: 18px;
	}

	.header__present-title {
		font-size: 30px;
		line-height: 1.2;
		margin-top: 15px;
	}
	.header__middle {
		min-height: 80px;
	}
	.header__middle-contacts {
		gap: 15px;
		padding: 10px 0;
	}
	.header__main {
		max-width: 210px;
	}
	.contacts__item-iconwrap {
		width: 40px;
		height: 40px;
		padding: 10px 11px;
		box-shadow: var(--main-box-shadow);
	}

	.contacts__item-iconwrap svg {
		width: 18px;
		height: 18px;
	}

	.welcome__content-title {
		font-size: 36px;
		line-height: 1.2;
		text-align: center;
	}
	.services {
		padding: 60px 0;
	}

	.services__block-header span {
		font-size: 16px;
	}

	.services__title {
		font-size: 36px;
		line-height: 1.2;
		text-align: center;
	}
	.services__text {
		font-size: 16px;
	}

	.choose-us {
		padding: 60px 0;
	}
	.choose-us__left {
		padding: 30px 40px;
	}
	.choose-us__left-substrate {
		padding: 30px;
	}
	.item-substrate__value {
		font-size: 16px;
		font-weight: bold;
	}

	.item-substrate__text {
		font-size: 16px;
	}

	.choose-us__title {
		font-size: 36px;
		line-height: 1.2;
		text-align: center;
		margin-bottom: 30px;
	}

	.choose-us__text {
		font-size: 16px;
	}

	.content-choose-us__title {
		font-size: 18px;
	}

	.content-choose-us__text {
		font-size: 16px;
	}

	.contacts {
		padding: 60px 0;
	}

	.contacts__block-header span {
		font-size: 16px;
	}

	.contacts__title {
		font-size: 36px;
		line-height: 1.2;
	}
}

@media (min-width: 768px) {

}