@import 'refresh_styles.css';
@import 'vars.css';
@import 'media.css';


/*---------------------------------*/
body {
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	line-height: 27px;
}


.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main {
	flex: 1 1 auto;
}
/*---------------------------------*/
[class*="__container"] {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0px 15px;
}
/*=================================[ Modifications ]========================================*/

/*-------------Block header--------------------*/
.block__header {
	display: inline-block;
	position: relative;
	background-color: #F4F4F4;
}
.block__header:before {
	position: absolute;
	background-image: url(../img/NewLogo.png);
	background-position: center;
	background-size: cover;
	width: 23px;
	height: 23px;
	top: 0;
	left: 20px;
	content: '';
}
.block__header span {
	padding: 0px 20px 0px 53px;
	color: #1C2752;
}

/*------------Block Title---------------------*/

.block__title {
	font-family: 'Mulish';
	font-weight: 400;
	font-size: 45px;
	line-height: 58px;
	letter-spacing: 0.36px;
	color: #1C2752;
}

/*=================================[ HEADER ]========================================*/
.header {
	position: relative;
}

.header__container {
}
.header__top {
	min-height: 69px;
	background-color: #f2f2f2;
}
.header__top-body {
	min-height: 69px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__top-text {
	font-weight: 400;
	font-size: 17px;
	letter-spacing: 0.36px;
	color: #1C2752;
}
.header__top-socials {
	display: flex;
}
.socials {
}
.social__top-item {
	padding: 0px 10px;
}
.socials__link {
	display: inline-block;
	padding: 5px 0px 0px 0px;
}

/*---------------------------------*/

.header__middle {
	display: flex;
	justify-content: space-between;
	min-height: 128px;
	align-items: center;
}
.header__main {
	display: flex;
	align-items: center;
}
.logo svg {
	width: 50px;
	height: 50px;
}
.logo path {
	fill: var(--main-blue);
}
.link__title {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
	font-size: 28px;
	color: var(--main-blue);

	text-transform: uppercase;
	margin-left: 15px;

}
.header__middle-contacts {
	position: relative;
	display: flex;
	padding: 10px 20px;
	z-index: 1;
}
.header__middle-contacts:after {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	right: 0;
	left: 20px;
	height: 100%;
	width: 100%;
	background-color: #fff;
	box-shadow: var(--main-box-shadow);
	border-radius: var(--border-radius);
	opacity: .4;
	z-index: -1;
}
.contacts {
}
.contacts__item {
	display: flex;
	align-items: center;
	margin: 0px 10px 0px 65px;
}
.contacts__item-iconwrap {
	width: 68px;
	height: 68px;
	padding: 23px 20px;
	border-radius: 50%;
	background-color: var(--main-blue);
	margin: 0px 15px 0px 0px;
}
.contacts__item-icon {
}

.contacts__item-text {
	font-family: 'Mulish';
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 0.36px;
	color: #1C2752;	
}
.contacts__item-text span {
	font-size: 17px;
	color: #7e7e7e;
	margin: 1px 0px 0px 0px;
}

/*---------------------------------*/
.nav__container {
	position: relative;
	margin-bottom: -60px;
	z-index: 50;
}
.nav__body {
	display: flex;
	padding: 0px 4px;
	border-radius: var(--border-radius);
	background-color: var(--main-blue);
	box-shadow: var(--main-box-shadow);
}
.nav__list {
	display: flex;
	flex: 1 1 auto;
	font-size: 20px;
	line-height: 30px;
	padding: 29px 0px;
}
.nav__item {

}
.nav__link {
	color: #fff;
	padding: 20px 20px;
	overflow: hidden;
	margin: 0px 8px;
	border-radius: var(--border-radius);
	transition: all .25s ease-out;
}

.nav__link:hover {
	color: #fff;
	background-color: #1C2752;
}

.button__wrap {
	display: flex;
	align-items: center;
	margin-right: 10px;
}


.button {
	display: inline-block;
	padding: 19px 42px;
	background-color: var(--main-blue);
	color: #fff;
	border-radius: var(--border-radius);
	transition: all .25s ease-out;
}
.button:hover {
	background-color: #ff9f0f;
}
.button__blue {
	background-color: #1C2752;
	color: #fff;
}
.button__blue:hover {
	color: var(--main-blue);
	background-color: #fff;
}

/*---------------------------------*/


.header__wrapper {
	position: relative;
	background-image: url(../img/header/header-bg/header-bg.png);
	background-size: cover;
	background-position: top;
	padding-bottom: 45px;
	margin-bottom: -50px;
}

.header__wrapper:after {
	position: absolute;
	top: 0;
	content: '';
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: .3;
	z-index: -1;
}

.header-present__container {
	display: flex;
	padding-top: 40px;
	align-items: center;
	position: relative;
	flex: 1 1 auto;
}
.header__present-wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	min-height: 100vh;
	background-image: url(../img/header/header-bg/header-bg.jpg);
	background-size: cover;
	background-position: center;
}

.header__present-wrapper:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .3;
}

.header__present-body {
	color: #fff;
}
.header__present-subtitle {
	display: flex;
	background: rgba(255, 255, 255, 0.2);
	padding: 8px 40px 8px 20px;
	max-width: 650px;
	border-radius: 3px;
	font-size: 32px;
	box-shadow: var(--main-box-shadow);
}
.header__present-subtitle span {
	margin-left: 15px;
}

.header__present-subtitle svg {
	fill: var(--main-blue);
	height: 30px;
	width: 30px;
}
.header__present-title {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 54px;
	line-height: 65px;
	letter-spacing: 1.2px;
	max-width: 712px;
	margin: 30px 0px 70px 0px;
}
.button {
}

/*=================================[ Welcome ]========================================*/
.welcome {
	min-height: 100vh;
	padding: 140px 0 0 0;
	background: #DCEFFD;
}
.welcome__container {
}
.welcome__body {
	display: flex;
	align-items: center;
	gap: 60px;
}
.welcome__image img {
	max-width: 600px;
}
.welcome__content {
}
.welcome__content-header {
	margin: 0px 0px 22px 0px;
}

/*---------------------------------*/
.welcome__content-title {
	margin: 0px 0px 12px 0px;
}

.welcome__content-text {
	color: #7E7E7E;
}
.welcome__content-text span {
	display: block;
	font-size: 17px;
	margin: 10px 0px 17px 0px;
}

/*---------------------------------*/
.welcome__content-advantages {
}
.advantages {
	display: flex;
	gap: 40px;
	align-items: center;
	margin: 20px 0px 0px 0px;
}
.advantages-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: #F4F4F4;
	padding: 24px 50px 40px 50px;
}
.item-card-title {
	font-family: 'Mulish';
	font-weight: 400;
	font-size: 80px;
	line-height: 88px;
	color: #FFB342;
	margin: 0px 0px 16px 0px;
}
.advantages-card p {
	font-family: 'Mulish';
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 0.36px;
	max-width: 112px;
	color: #1C2752;
}
.advantages-list {
}
.advantages-list-item {
	font-size: 17px;
	color: #7E7E7E;
}
.advantages-list-item:not(:last-child) {
	margin: 0px 0px 10px 0px;
}

/*=================================[ offer ]========================================*/

.offer {
	min-height: 100vh;
	background-color: #FFB342;
	padding-top: 140px;
	position: relative;
}
.offer__container {
}
.offer__header {
	margin: 0 auto;
	text-align: center;
	max-width: 832px;
}
.offer__block-header {
	margin: 150px 0px 20px 0px;
}

.offer__title {
	margin: 0px 0px 12px 0px;
}
.offer__header p {
	display: inline-block;
	letter-spacing: 0.36px;
	color: #1C2752;
	margin: 0px 0px 38px 0px;
	padding: 0px 4px;
}
/*---------------------------------*/

.offer__buttons {
	display: flex;
	gap: 30px;
	justify-content: center;
	padding: 0px 0px 40px 0px;
}
.offer__button {
	position: relative;
}
.commercial-btn::before,
.residental-btn::before,
.industrial-btn::before
 {
	position: absolute;
	width: 34px;
	height: 34px;
	top: 16px;
	left: 41px;
	content: '';
}
.commercial-btn::before {
	background-image: url(../img/offer/offer-icons/offer-icon-1.svg);
}
.residental-btn::before {
	background-image: url(../img/offer/offer-icons/offer-icon-2.svg);
}
.industrial-btn::before {
	background-image: url(../img/offer/offer-icons/offer-icon-3.svg);
}
.offer__button--active a {
	background-color: #fff;
	border: 1px solid #fff;
}
.offer__button-link {
	display: inline-block;
	padding: 19px 41px 19px 85px;
	border: 1px solid #1C2752;
}
.offer__button {
}

/*---------------------------------*/

.offer__slider {
	position: relative;
	display: flex;
	align-items: center;
	background-color: #fff;
	padding: 70px 60px;
	gap: 75px;
	z-index: 2;
	box-shadow:  0px 10px 15px rgba(0,0,0,0.1);
}
.offer__slider-body {
	display: flex;
	gap: 75px;
}
.offer__slider-content {
}
.offer__slider-block-header {
	margin: 0px 0px 22px 0px;
}
.offer__slider-title {
	margin: 0px 0px 12px 0px;
}
.offer__slider-text {
	color: #7e7e7e;
	margin: 0px 0px 27px 0px;
	max-width: 549px;
}

.offer__slider-text p:first-of-type {
	margin: 0px 0px 10px 0px;
	max-width: 507px;
}
.offer__slider-button {
}
.offer__slider-image {
	text-align: center;
}
.offer__white-bottom {
	position: absolute;
	width: 100%;
	height: 100px;
	bottom: 0;
	left: 0;
	background-color: #f4f4f4;
}
/*=================================[ Services ]========================================*/

.services {
	padding: 153px 0px 140px 0px;
	background-color: #f4f4f4;
}
.services__container {
}
.services__body {
}
.services__header {
	text-align: center;
	margin: 0px 0px 50px 0px;
}
.services__block-header {
	background-color: #fff;
	margin: 0px 0px 22px 0px;
}
.block__header {
}
.services__title {
	margin: 0px 0px 12px 0px;
}

.services__text {
	display: inline-block;
	max-width: 819px;
	color: #7e7e7e;
}
.services__grid {
	display: flex;
	gap: 30px;
}
.services__grid-column {
	display: flex;
	flex-direction: column;
	gap: 30px;	
}
.services__grid-item {
	background-color: #1C2752;
	padding: 50px 35px 50px 46px;
}
.item-grid {
}
.item-grid__image {
	margin: 0px 0px 20px 0px;
}
.item-grid__title {
	font-family: 'Mulish';
	font-weight: 400;
	font-size: 25px;
	line-height: 38px;
	letter-spacing: 0.36px;
	color: #FFB342;
	margin: 0px 0px 15px 0px;
}
.item-grid__text {
	color: #D2D2D2;
	margin: 0px 0px 22px 0px;
}
.item-grid__link {
	color: #fff;
}

/*=================================[ Choose Us ]========================================*/

.choose-us {
	padding: 150px 0;
}
.choose-us-container {
	max-width: 1470px;
	margin: 0 auto;
	padding: 0px 15px;
}
.choose-us__body {
	display: flex;
	align-items: center;
	gap: 70px;
}
.choose-us__left {
	flex: 0 1 50%;
	background-image: url(../img/choose-us/left-bg.jpg);
	background-repeat: no-repeat;
	padding: 140px 80px;
}
.choose-us__left-substrate {
	background: rgba(28, 39, 82, 0.86);
	padding: 100px 80px 120px;
}
.substrate-left {
}
.substrate-left__item:not(:last-child) {
	margin: 0px 0px 20px 0px;
}
.item-substrate {
	display: flex;
	font-family: 'Mulish';
	font-weight: 400;
	font-size: 25px;
	line-height: 35px;
	letter-spacing: 0.36px;
}
.item-substrate__value {
	flex-basis: 110px;
	font-size: 24px;
	color: #1C2752;
	background-color: #FFB342;
	padding: 16px 21px 0;
}
.item-substrate__text {
	flex: 1 1 auto;
	color: #FFFFFF;
	padding: 16px 0px 16px 20px;
	border: 1px solid #fff;
	border-left: transparent;
}
/*---------------------------------*/
.choose-us__right {
	flex: 0 1 50%;
	color: #7E7E7E;
}
.choose-us__header {
	margin: 0px 0px 40px 0px;
}
.choose-us__block-header {
	margin: 0px 0px 23px 0px;
}
.choose-us__title {
	margin: 0px 0px 11px 0px;
	max-width: 506px;
}
.choose-us__text {
	display: inline-block;
	max-width: 577px;
}
.choose-us__content {
}
.content-choose-us {
}
.content-choose-us__item {
	position: relative;
	padding: 0px 0px 0px 52px;
}
.content-choose-us__item:not(:last-child) {
	margin: 0px 0px 25px 0px;
}
.content-choose-us__item::before {
	position: absolute;
	background-image: url(../img/choose-us/choose-us-icon.svg);
	width: 32px;
	height: 32px;
	top: 0;
	left: 0;
	content: '';
}
.content-choose-us__title {
	font-family: 'Mulish';
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.36px;
	color: #1C2752;
	margin: 0px 0px 8px 0px;
}
.content-choose-us__text {
	display: inline-block;
	max-width: 432px;
}