@import 'refresh_styles.css';
@import 'vars.css';
@import 'media.css';
@import 'header.css';
@import 'welcome.css';
@import 'services.css';
@import 'choose-us.css';
@import 'btn-up.css';


/*---------------------------------*/
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	line-height: 27px;
}


.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main {
	flex: 1 1 auto;
}
/*---------------------------------*/
[class*="__container"] {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0px 15px;
}
/*=================================[ Modifications ]========================================*/

/*-------------Block header--------------------*/
.block__header {
	display: inline-block;
	position: relative;
	background-color: #F4F4F4;
	padding: 3px 0;
}
.block__header:before {
	position: absolute;
	background-image: url(../img/welcome-icon.png);
	background-position: center;
	background-size: cover;
	width: 23px;
	height: 23px;
	top: 5px;
	left: 20px;
	content: '';
}
.block__header span {
	padding: 0px 20px 0px 53px;
	color: #1C2752;
}

/*------------Block Title---------------------*/

.block__title {
	font-family: 'Mulish';
	font-weight: 400;
	font-size: 45px;
	line-height: 58px;
	letter-spacing: 0.36px;
	color: #1C2752;
}



