/*=================================[ Variables ]========================================*/

:root {
	--main-text__color: #616161;
	--red-accent__color: #EC5863;
	--gray-accent__color: #b0b0b0;
	--red-hover__color: #f37a82;
	--blue-accent__color: #4285F4;
	--blue-hover__color: #639dfa;
	--blue-mobile-menu_bg__color: #9984f3;
	--section-white-bg__color: #FAFBFD;
	--border-radius: 3px;
	--main-blue: #293e9b;
	--main-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}
